    <!-- ******Examples****** --> 
    <!--<section id="examples" class="features section">//-->
	<section id="examples" class="license section">
        <!--<div class="container text-center">//-->
		<h2 class="title text-center">Success Stories</h3>
		<div class="features-inner">
			<p>We’ve had the pleasure of having diverse groups data scientists, analysts and engineers at our Goodwill Analytics events so far, all helping some very worthy causes.</p>
			<p>Take a peek below to find out more!</p>
			<h3 class="title text-center">TIMELINE</h3>
			<p>20 - 21st February, 2016</p>
			<p>Our very first Goodwill Analytics event happened on the weekend of the 20 - 21st of February, 2016. With just 25 places for Data Volunteers, there was a great deal of buzz around the event and the response was overwhelming - we were oversubscribed within a week.</p>
			<p>The NFPs that participated in the event were Hello Sunday Morning, Refugee Council of Australia and The Shepherd Centre.</p>
			<p>48 hours, countless slices of pizza and a few arcade games later, the event was over and it was a great success. 83% of data volunteers surveyed expressed that they learned something new from the event, while 100% said that they would participate in another Goodwill Analytics event again.</p>
        <!--</div>//--><!--//container-->
    </section><!--//features-->
