    <!-- ******Examples****** --> 
    <!--<section id="examples" class="features section">//-->
	<section id="examples" class="license section">
        <!--<div class="container text-center">//-->
		<h2 class="title text-center">Success Stories</h3>
		<div class="license-inner">
			<p>We’ve had the pleasure of having diverse groups data scientists, analysts and engineers at our Goodwill Analytics events so far, all helping some very worthy causes.</p>
			<p>Take a peek below to find out more!</p>
			</br/>
			<h3 class="title text-center">TIMELINE</h3>
			<h4 class="title">20 - 21st February, 2016</h4>
			<p>Our very first Goodwill Analytics event happened on the weekend of the 20 - 21st of February, 2016. With just 25 places for Data Volunteers, there was a great deal of buzz around the event and the response was overwhelming - we were oversubscribed within a week.</p>
			<p>48 hours, countless slices of pizza and a few arcade games later, the event was over and it was a great success. 83% of data volunteers surveyed expressed that they learned something new from the event, while 100% said that they would participate in another Goodwill Analytics event again.</p>
			<p>The organisations that participated in the event were Hello Sunday Morning, Refugee Council of Australia and The Shepherd Centre.</p>
			<p><b>Hello Sunday Morning</b></p>
			<p>Cause</p>
			<p>HSM is a movement towards a better drinking culture. They have a community platform for people taking an alcohol break and an iPhone app for those interested in alcohol moderation.</p>
			<p>Target Areas for the Event
				<ul class="feature-list list-unstyled">
					<li><i class="fa fa-check"></i> Generate a model for what works - reducing risk of relapse of HSM users.</li>
					<li><i class="fa fa-check"></i> Natural language processing, measuring collaboration and sentiment analysis of blog posts and app usage to better inform of users at risk.</li>
				</ul>
			</p>
			<p><b>Refugee Council of Australia</b></p>
			<p>Cause</p>
			<p>The national umbrella body for refugees and the organisations and individuals who support them including 200 organisational and 900+ individual members. RCOA’s own work is centred around five key areas: policy, support for refugees, support for its members, community education and administration.</p>
			<p>Target Areas for the Event
				<ul class="feature-list list-unstyled">
					<li><i class="fa fa-check"></i> Better structure their current database/CRM pipeline.</li>
					<li><i class="fa fa-check"></i> Create automated reporting for their donor base.</li>
					<li><i class="fa fa-check"></i> Create and automate an RFM segmentation.</li>
				</ul>
			</p>
			<p><b>The Shepherd Centre</b></p>
			<p>Cause</p>
			<p>A medium sized organisation which helps children who are hearing impaired from birth up until they start school. Their programs include providing hearing implants, education for parents on how to teach and interact their children over several years.</p>
			<p>Target Areas for the Event
				<ul class="feature-list list-unstyled">
					<li><i class="fa fa-check"></i> Better segmentations. Demographic/Attitudinal segmentation overlaid with a (better) RFM segmentation.</li>
					<li><i class="fa fa-check"></i> Determine donor segmentation and best messaging per segment.</li>
					<li><i class="fa fa-check"></i> Clinical Predictions - Predict the trajectory/progress of a child from some of the earlier tests. Better tailor programs to achieve the best outcome for each child.</li>
				</ul>
			</p>
        <!--</div>//--><!--//container-->
    </section><!--//features-->
