    <!-- ******Examples****** --> 
    <section id="examples" class="features section">
        <!--<div class="container text-center">//-->
		<h2 class="title text-center">Similar Event Success Stories</h3>
		<h3 class="title text-center">Place2Be</h3>
		<div class="features-inner">
			<p>Place2Be is the leading children's mental health charity in the UK providing customized in-school support and expert training to improve the emotional wellbeing of pupils, families, teachers and school staff.</p>
			<p>They attended the event to show that their support programs achieved positive results but did not have the data analytics capabilities in-house to quantify the results.</p>
			<p>The outcome of the event for Place2Be was:
			<ul class="feature-list">
				<li class="fa">The value of the support program was proven (after adjusting for bias in the reporting methods)</li>
				<li class="fa">Insight was gained to guide future focus areas, Place2Be learned that:
					<ul>
						<li>Boys generally performed better</li>
						<li>Girls with single fathers improved the most</li>
						<li>Their method of capturing data (i.e. self-assessment surveys) added noticeable bias to the reporting process and needed change</li>
					</ul>
				</li>
				<li class="fa">Place2Be was so excited by the efforts of the volunteers and the quantified positive results of the program that they invited their largest sponsor to see the presentation firsthand.</li>
			</ul></p>
		</div><!-- features-inner //-->
		<h3 class="title text-center">GiveDirectly</h3>
		<div class="features-inner">
			<p>GiveDirectly is an innovative nonprofit that provides financial support to the poorest households in rural Kenya and Uganda. They provide the money with no strings attached. Recipients are free to use the money to pursue their own goals.</p>
			<p>They target the poorest of the poor and have found that a simple yet effective proxy for poverty. In national survey data they found that the housing materials a family uses for its home has a strong correlation to poverty levels. In this part of the world, many families invest available cash in a metal roof, which lasts for years. Those who can’t afford metal sheets make do with thatch roofs which leak and need frequent repair.</p>
			<p>Using Google Maps satellite imagery GiveDirectly could see images of the roofs used in a particular village. This provides great insight, however creating some useful information from the many images across both countries was going to be a time consuming process.</p>
			<p>Prior to the event the GiveDirectly Data Ambassadors created an image processing and machine learning algorithm that would estimate, based  on an image of the house, whether it has a thatch or metal roof.</p>
			<p>They used the event to teach the algorithm, the volunteers helped label nearly 1,500 images.The algorithm identified individual homes in an image using template matching and was able to identify the color threshold that classified them as thatch or metal.</p>
			<p>Calculating the proportion of thatch to metal roofed homes in a village meant GiveDirectly was much better able to target the communities most in need, and had a way to adjust their areas of focus over time as the donations had effect.</p>
		</div><!-- features-inner //-->
		
        </div><!--//container-->
    </section><!--//features-->
