    <!-- ******=HOME****** -->
    <section id="home" class="promo section offset-header">
        <div class="container">
            <h2 class="title text-center">Goodwill Analytics</h2>
			<br/>
			<p class="text-center">Goodwill Analytics brings data scientists from all different backgrounds together to make valuable contributions to Not-For-Profit Organisations.</p>
            <p class="text-center">Goodwill Analytics seeks to inspire talented data professionals to lend their skills to worthy causes.</p>
			<p class="text-center">Unleashing the power of data science for social good!</p>
        </div><!--//container-->
    </section><!--//promo-->
