    <!-- ******WHAT****** --> 
    <section id="what" class="about section">
        <div class="container">
            <h2 class="title text-center">What?</h2>
			<p class="intro text-center">Goodwill Analytics is an event bringing together people from two differing worlds together to make great things happen.</p>
			<p class="intro text-center">Over the course of one action-packed weekend, Goodwill Analytics will pair a group of data professionals with representatives from Australian not-for-profit organizations (or NFPs), who will volunteer their time and talents to provide insights and solutions to these NFP.</p>
			<p class="intro text-center">One talented Data Ambassador will be assigned to each NFP and will lead a team of data volunteers on their noble quest for data-themed enlightenment. During the weekend, the data volunteers will apply their technical skills to draw insights, suggestions and solutions from the NFPs data, or from any other piece of publicly available information.</p>
			<p class="intro text-center">The insights and solutions provided to these NFPs will have the potential to reshape the way they operate and to have a hugely beneficial impact upon the organization and the causes they support.</p>
			<p class="intro text-center">Goodwill Analytics recognizes the abundance of knowledge to be gleaned from data, and seeks to inspire the ton of talented data professionals who know how to harness it to lend their skills and help these worthy causes.</p>
        </div><!--//container-->
    </section><!--//about-->
