    <!-- ******WHAT****** --> 
    <section id="what" class="about section">
        <div class="container">
            <h2 class="title text-center">Our Story</h2>
			<p class="intro text-center">Goodwill Analytics all started with one idea: for data scientists to lend their superpowers to Not-For-Profit Organisations, in order to show them how to make the best use of their data.</p>
			<p class="intro text-center">Many Not-For-Profit Organisations (NFPs) gather large amounts of data over time, but may not have the funding or the resources to make use of it. NFPs often find themselves collecting mountains of data but are unable to unlock its full potential.</p>
			<p class="intro text-center">And that’s where we step in.</p>
			<p class="intro text-center">We select a number of NFPs with specific data problems that a handful of skilled volunteers will tackle during one action-packed Goodwill Analytics event.</p>
			<p class="intro text-center">Each NFP is assigned a dedicated Data Ambassador who works closely with them in the lead-up to the event. They work as consultants to understand of their organisational challenges and to gather as much information as possible about their data and the problems they face.</p>
			<p class="intro text-center">At the event, we open the doors to skilled volunteers from diverse backgrounds and levels of experience. Volunteers get the chance to collaborate with each other and work closely with one NFP in small groups led by a Data Ambassador.</p>
			<p class="intro text-center">In a nutshell, volunteers apply their technical skills to draw insights, suggestions and solutions from each NFP’s data and supplemented by publicly available information. The insight and solutions provided to each NFP gives them with an understanding of the power of their own data. It has the potential to reshape the way they operate and has a hugely beneficial impact upon the causes they support.</p>
			<p class="intro text-center">Donating money is a fantastic way of supporting NFPs. However, donating time and skills can greatly improve the way that NFPs operate by optimising their systems and helping them to make better use of the donations they receive.</p>
        </div><!--//container-->
    </section><!--//about-->
