    <!-- ******When****** --> 
    <section id="when" class="license section">
        <div class="container text-center">
			<h2 class="title text-center">When?</h2>
			<h3 class="text-center">Weekend</h3>
			<h4 class="text-highlight text-center">27-28 February 2016</h4>
			<h3 class="text-center">Program</h3>
			<h4 class="text-highlight text-center">Saturday</h4>
			<p class="text-center"><span class="text-highlight">9am -</span> NPO Introductions &amp; Briefs</p>
			<p class="text-center"><span class="text-highlight">9:30am -</span> Team up &amp; Get Busy</p>
			<p class="text-center"><span class="text-highlight">12pm -</span> Lunch</p>
			<p class="text-center"><span class="text-highlight">1pm -</span> Back to Work</p>
			<p class="text-center"><span class="text-highlight">3pm -</span> Refreshments</p>
			<p class="text-center"><span class="text-highlight">3:30pm -</span> Final Push for the Day</p>
			<h4 class="text-highlight text-center">Sunday</h4>
			<p class="text-center"><span class="text-highlight">9am -</span> Dive Into It Again - Fully Refreshed</p>
			<p class="text-center"><span class="text-highlight">11am -</span> Prepare for Presentations</p>
			<p class="text-center"><span class="text-highlight">12pm -</span> Lunch</p>
			<p class="text-center"><span class="text-highlight">1pm -</span> Team Presentations</p>
			<p class="text-center"><span class="text-highlight">3pm -</span> After Party - WOOT!</p>
        </div><!--//container-->
    </section><!--//features-->
