    <!-- ******When****** --> 
    <section id="when" class="features section">
        <div class="container text-center">
		<h2 class="title text-center">When?</h2>
		<h3 class="text-center">Weekend</h3>
		<p class="text-center">26-28 February 2016</p>
		<h3 class="text-center">Program</h3>
		<h4 class="text-highlight text-center">Friday</h4>
		<p class="text-highlight">Friday 26 - 6pm</p>
		<p class="text-center">Refreshments</p>
		<p class="text-center">Mingle with Volunteers</p>
		<p class="text-highlight">Friday 26 - 6:30pm</p>
		<p class="text-center">Event Introduction</p>
		<p class="text-center">NPO Introduction / Brief</p>
		<p/>
		<h4 class="text-highlight text-center">Saturday</h4>
		<p class="text-highlight">Saturday - 9am</p>
		<p class="text-center">NPO Presentations</p>
		<p class="text-highlight">Saturday - 9:30am</p>
		<p class="text-center">Team up</p>
		<p class="text-center">Time to Get Busy</p>
		<p class="text-highlight">Saturday - 12pm</p> 
		<p class="text-center">Lunch</p>
		<p class="text-highlight">Saturday - 1pm</p>
		<p class="text-center">Back to Work</p>
		<p class="text-highlight">Saturday - 3pm</p>
		<p class="text-center">Refreshments</p>
		<p class="text-highlight">Saturday - 3:30pm</p>
		<p class="text-center">Final Push for the Day</p>
		<p class="text-highlight">Saturday - 6pm</p>
		<p/>
		<h4 class="text-highlight text-center">Sunday</h4>
		<p class="text-highlight">Sunday - 9am</p>
		<p class="text-center">Dive Into It Again - Fully Refreshed</p>
		<p class="text-highlight">Sunday - 11am</p>
		<p class="text-center">Prepare for Presentations</p>
		<p class="text-highlight">Sunday - 12pm</p> 
		<p class="text-center">Lunch</p>
		<p class="text-highlight">Sunday - 1pm</p>
		<p class="text-center">Team Presentations</p>
		<p class="text-highlight">Saturday - 3pm</p>
		<p class="text-center">After Party</p>
<!--
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Fully responsive</li>
                <li><i class="fa fa-check"></i> HTML5 + CSS3</li>
                <li><i class="fa fa-check"></i> Built on <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3.3</a></li>
                <li><i class="fa fa-check"></i> 400+ FontAwesome icons</li>
                <li><i class="fa fa-check"></i> 4 colour schemes</li>
                <li><i class="fa fa-check"></i> LESS files included</li>
                <li><i class="fa fa-check"></i> Compatible with all modern browsers</li>
            </ul>
//-->
        </div><!--//container-->
    </section><!--//features-->
