    <!-- ******WHO****** --> 
    <!--<section id="who" class="license section">//-->
	<section id="who" class="features section">
        <div class="container">
			<h2 class="title text-center">The Who</h2>
			<h3 class="title text-center">Social Cause Organisations</h3>
			<div class="features-inner">	
				<p>The volunteers may have the superpowers, but the social cause organisations are the heart of our endeavours.</p>
				<p>Social causes are dedicated to improving the lives of others and making a difference - from supporting underprivileged individuals and communities, to aiding research to find cures for life-threatening illnesses, to fighting for animal rights.</p>
				<p>We’re all familiar with the causes, but often we don’t quite know how to help.</p>
				<p>Prior to the Goodwill Analytics event, the social causes will identify a number of key problems. The biggest ticket problems, with relevant supporting data, will be selected to be tackled at the event.</p>
				<p>If you are a social cause organisation and are interested in participating in a Goodwill Analytics event then reach out to us at <a href="mailto:info@goodwillanalytics.org">info@goodwillanalytics.org</a>.</p>
				<p>Who are the social causes for the October 2016 event?</p>
				<br/>
				<p><b>The Shepherd Centre</b></p>
				<p>The Cause</p>
				<p>A medium sized organisation which helps children who are hearing impaired from birth up until they start school. Their programs include providing hearing implants, education for parents on how to teach and interact their children over several years.</p>
				<p>Target Areas for the Event</p>
				<p>The Functional Listening Index – Paediatric (FLI-P) is a clinical assessment tool developed by The Shepherd Centre to assist in the early identification of potential barriers to language and communication development in children with hearing loss.</p>
				<p>The FLI-P measures the acquisition of listening skills from the earliest skills from birth through to advanced listening skills required in the early school years. In this project we will investigate the validity of the tool.</p>
				<p>The goal for the event is 3 types of validity:</p>
				<ul class="feature-list list-unstyled">
					<li><i class="fa fa-check"></i> Concurrent – Is the FLI-P consistent with other similar measures?</li>
					<li><i class="fa fa-check"></i> Convergent – Can the FLI-P distinguish between groups that we expect there to be differences?</li>
					<li><i class="fa fa-check"></i> Predictive – Does FLI-P assist in predicting a child’s later language outcomes?</li>
				</ul>
				<p>The goal of the project is to obtain some publishable insights about the tool.</p>
				<br/>
				<p><b>WIRES</b> - (Wildlife Information, Rescue and Education Service Inc.)</p>
				<p>The Cause</p>
				<p>WIRES has been rescuing and caring for native animals since 1985, officially launching as an organisation in March 1986. Their mission is to actively rehabilitate and preserve Australian wildlife and inspire others to do the same.</p>
				<p>WIRES has over 2500 volunteers in 27 branches involved in the rescue and care of wildlife and has a dedicated Rescue Office that operates 365 days a year assisting the community to help native animals in distress. WIRES assist tens of thousands of animals every year, receiving over 77,000 requests for rescue assistance in the last financial year.</p>
				<p>Target areas for the event</p>
				<p>With valuable data assets in Donation transactional data and Donors &amp; Rescuers data, WIRES want:</p>
				<ul class="feature-list list-unstyled">
					<li><i class="fa fa-check"></i> Better understanding of existing donor patterns across a range of channels.</li>
					<li><i class="fa fa-check"></i> Smarter targeting for repeat and new donors.</li>
					<li><i class="fa fa-check"></i> New insights for improving fundraising.</li>
				</ul>
				<br/>
				<p><b>*** Mystery Charity ***</b></p>
				<p>We have a 3rd charity that we cannot disclose at the moment but hope to publish something about them prior to the event.</p>
				<p>If we are unable, you are just going to have to come along to find out who they are and how you can help. As Effie used to say: &quot;How excitement!&quot;</p>
			</div>
			<br/>
			<h3 class="title text-center">Data Ambassadors</h3>
			<div class="features-inner">
				<p>The leaders at the forefront of the event.</p>
				<p>Our Data Ambassadors are data professionals just like the rest of the volunteers, but they have the chance to collaborate more closely with their social cause.</p>
				<p>The Ambassadors will meet up with their social cause prior to the event to gather data and work with them to identify those big-ticket problems.</p>
				<p>Before the event, they will also have done some preparation for the way their social cause's problems could be solved and will guide their team of data volunteers in the right direction, helping to drive optimal outcomes and collect results.</p>
				<p>If you are interested in being a Data Ambassador at a Goodwill Analytics event you can hit us up at <a href="mailto:info@goodwillanalytics.org">info@goodwillanalytics.org</a>.</p>
			</div>
			<br/>
			<h3 class="title text-center">Volunteer Data Professionals</h3>
			<div class="features-inner">
				<p>The superheroes of the event.</p>
				<p>The number crunchers extraordinaire. The pattern spotters. The abstract and out-of-box thinkers. The ones with the superpowers, who have capes and wear their underpants on the outside, just like our Captain Alvin.</p>
				<p>After hearing about what each social cause supports and the problems they face, you will choose which cause you would like to work on for the weekend.</p>
				<p>You will form small teams and, after a brief exchange of pleasantries and perhaps a humble brag, you’ll knuckle down and lend your skills for a worthy cause!</p>
				<p>If you are a data professional and want to volunteer at a Goodwill Analytics event then <a href="#sign-up">register here</a>.</p>
			</div>
        </div><!--//container-->
    </section><!--//how-->
