    <!-- ******WHO****** --> 
    <section id="who" class="license section">
        <div class="container">
			<h2 class="title text-center">Who?</h2>
			<h3 class="sub-title text-center">Not-For-Profits Organisations</h3>
			<div class="license-inner">	
				<p>NFPs and the causes they represent are at the heart of these endeavours.</p>
				<p>NFPs dedicate all of their time and profits to aiding their cause: from supporting underprivileged individuals and communities, to aiding research to find cures for life-threatening diseases, to fighting for animal rights and campaigning to preserve the pristine areas of our planet.</p>
				<p>We’re all familiar with the causes, but often we don’t quite know how to help.</p>
				<p>Prior to Goodwill Analytics weekend event, the participating NFPs will identify a number of problems that they are facing. The biggest ticket problems with relevant data will then be selected to be addressed during the weekend event.
				<p>At the beginning of the event, the organizations will present:
					<ul class="feature-list list-unstyled">
						<li><i class="fa fa-check"></i> their cause,</li>
						<li><i class="fa fa-check"></i> the chosen problems, and</li>
						<li><i class="fa fa-check"></i> the data available to solve the problem.</li>
					</ul>
				</p>
			</div>
			<h3 class="sub-title text-center">Data Ambassadors</h3>
			<div class="license-inner">
				<p>The leaders at the forefront of the event.</p>
				<p>Our Data Ambassadors are data professionals just like the rest of the volunteers, but will have the chance to work more closely with their designated NFP. The Ambassadors will meet up with their NFP prior to the event to gather data and collaborate with them to identify those big-ticket problems. Before the commencement of the weekend, they will also have done some initial thinking about the way in which the problem could be solved and will guide their team of data volunteers in the right direction, helping to drive optimal outcomes and collect results.</p>
			</div>
			<h3 class="sub-title text-center">Volunteer Data Professionals</h3>
			<div class="license-inner">
				<p>The stars of the events. The number crunchers extraordinaire. The abstract and out-of-box thinkers. The pattern spotters. The insight finders. YOU!</p>
				<p>After hearing about the causes each NFP represents, learning about the problems they are trying to solve and seeing the data they have to work with, you will be able to choose which cause you want to support for the weekend.</p>
				<p>You will form teams with other like-minded individuals from such disciplines as data analysis, data science and software engineering, and you will get to apply your skills for a worthy cause.</p>
			</div>
        </div><!--//container-->
    </section><!--//how-->
