    <!-- ******WHO****** --> 
    <section id="who" class="license section">
        <div class="container">
			<h2 class="title text-center">Who?</h2>
			<h3 class="sub-title text-center">Not-For-Profits</h3>
			<div class="license-inner">	
				<p>These are the good causes of the event.</p>
				<p>They are organisations that are set up to put all profits into furthering their cause. They support under privileged people and communities. They help research diseases we want cures for. They fight for animal rights. They campaign for preserving the pristine nature areas of the planet.</p>
				<p>Prior to the event the Not-For-Profits will identify a number of problems they are facing. Then a high-level assessment will be done to see which of the problems they have the data to further investigate and get some answers for. The biggest ticket problem with relevant data will be chosen for the event.</p>
				<p>At the start of the event the organisations will present:
					<ul class="feature-list list-unstyled">
						<li><i class="fa fa-check"></i> their cause, and</li>
						<li><i class="fa fa-check"></i> the chosen problem, and</li>
						<li><i class="fa fa-check"></i> the data they have brought to solve the problem.</li>
					</ul>
				</p>
			</div>
			<h3 class="sub-title text-center">Data Ambassadors</h3>
			<div class="license-inner">
				<p>The leaders at the forefront of the event.</p>
				<p>Our Data Ambassadors are also volunteer data professionals who would have met up with the not-for-profit organisations prior to the event to gather the data, work with the organisation to identify a problem and done some initial thinking of the direction in which the problem may be resolved. Our Data Ambassadors are the team leads for the volunteers and will help drive outcomes and collect results.</p>
			</div>
			<h3 class="sub-title text-center">Volunteers</h3>
			<div class="license-inner">
				<p>The stars of the events. The number crunchers extraordinaire. The abstract and out-of-box thinkers. The pattern spotters. The insight finders. YOU!</p>
				<p>After hearing the causes, the problems they are trying to solve and the data they have to work with you will be able to choose which cause you want to support for the weekend.</p>
				<p>You will form teams with other like-minded individuals from the disciplines of data analysis, data science, software engineering, etc. and get to work on the problems the Not-For-Profit is trying to resolve.</p>
			</div>
        </div><!--//container-->
    </section><!--//how-->
