    <!-- ******Why****** --> 
    <section id="why" class="features section">
        <div class="container">
            <h2 class="title text-center">Why?</h2>
			<!--
			<p class="intro text-center">The idea originated from the DataKind events held around the world. Captain Alvin, the event chief, attended one such event in the UK and was so taken by the idea that he wanted to replicate the concept here in Sydney.</p>
			<p class="intro text-center">The event is run over a weekend and a collective of skilled volunteers (data analysts, scientists, engineers and designers) will work in teams to solve a key problem for a not-for-profit.</p>
			<p class="intro text-center">Many NFPs (not-for-profits) gather lots of data over time, however depending on their size, they don't have the skills or funding to maximise the use of analytics to help them solve their problems. They collect lots of data but don’t know what to do with it, and how to get the best out of it.</p>
			//-->
			<p class="intro text-center">The idea originated from the DataKind events held around the world. Alvin, our committee leader, attended one such event in the UK and was so taken by the idea that he wanted to replicate the concept here in Sydney.</p>
			<p class="intro text-center">The event is run over a weekend where a collective of skilled volunteers (data analysts, scientists, engineers and designers) will work in teams to solve a key problem for a given not-for-profit.</p>
			<p class="intro text-center">Many NFPs (not-for-profits) gather lots of data over time, however depending on their size, may not have the skills or funding to maximise the use of analytics to help them solve their problems. They collect lots of data but don’t know what to do with it, and how to get the best out of it.</p>
			<p class="intro text-center">Donating money is a fantastic way of supporting these organisations. However, donating your time and skills will help improve the way the NFPs operate and make better use of the donations they receive.</p>
        </div><!--//container-->
    </section><!--//features-->
