    <!-- ******Why****** --> 
    <section id="why" class="features section">
        <div class="container">
            <h2 class="title text-center">Why?</h2>
			<p class="intro text-center">The idea of facilitating this partnership between data professionals and NFPs originated with one of our members who attended a similar event hosted by DataKind.</p>
			<p class="intro text-center">DataKind is a global organization dedicated to partnering skilled volunteers (including data analysts, scientists, engineers and designers) with select not-for-profit organizations, and for those volunteers to work in teams to solve technical problems the NFPs are facing.</p>
			<p class="intro text-center">Many NFPs gather large amounts of data over time but, depending on their size, may not have the funding nor be equipped with the skills to maximize the amount of insight and use they actually get from this data. This can result in NFPs being burdened with mountains of data but not knowing what to do with it, or how to get the best out of it.</p>
			<p class="intro text-center">Donating money is a fantastic way of supporting not-for-profit organizations. However, donating your time and skills will manifestly help improve the way that NFPs operate, optimizing their systems and helping them to make better use of the donations they receive.</p>
        </div><!--//container-->
    </section><!--//features-->
